@{
    ViewData["Tile"] = "Index";
}
<h1>Person</h1>
<h2>Xin chao Person</h2>
<form asp-action = "Index">
    <input type="text" name = "PersonID">
    <input type="text" name = "FullName">
    <input type="text" name = "Address">
    <input type="submit" value = "Send">
</form>